<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="MeshThumbs"
    Language="1033"
    Version="1.0.6"
    Manufacturer="MeshThumbs"
    UpgradeCode="5d411f35-6764-41dd-ae2b-20792d111c23">

    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="x64"
      Description="Windows Explorer thumbnails for 3D models, including OBJ, FBX, glTF, STL, 3MF, VRM, BLEND, X3D, OFF, USD and VRML" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of MeshThumbs is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <CustomAction
      Id="ClearExplorerCacheOnInstall"
      Directory="TARGETDIR"
      Execute="immediate"
      Return="ignore"
      ExeCommand="&quot;[SystemFolder]WindowsPowerShell\v1.0\powershell.exe&quot; -NoProfile -ExecutionPolicy Bypass -File &quot;[#ClearCacheScript]&quot;" />

    <CustomAction
      Id="ClearExplorerCacheOnUninstall"
      Directory="TARGETDIR"
      Execute="immediate"
      Return="ignore"
      ExeCommand="&quot;[SystemFolder]WindowsPowerShell\v1.0\powershell.exe&quot; -NoProfile -ExecutionPolicy Bypass -File &quot;[#ClearCacheScript]&quot;" />

    <InstallExecuteSequence>
      <Custom Action="ClearExplorerCacheOnInstall" After="InstallFinalize">NOT REMOVE="ALL"</Custom>
      <Custom Action="ClearExplorerCacheOnUninstall" Before="RemoveFiles">REMOVE="ALL"</Custom>
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="MeshThumbs" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ProgramDataLogDir" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="MeshThumbs" />
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="ProgramDataVendor" Name="MeshThumbs" />
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ThumbnailProviderDll" Guid="dedfa04d-b418-4403-b323-bf2e5b23ac3e" Win64="yes">
        <File Id="ThumbDll" Source="$(var.TargetDir)\thumbnail_provider.dll" KeyPath="yes" />
        <File Id="ThumbnailWorker" Source="$(var.TargetDir)\thumbgen.exe" />
        <File Id="ClearCacheScript" Source="$(var.ProjectDir)\scripts\clear-explorer-cache.ps1" />
        <File Id="ThirdPartyNotices" Source="$(var.ProjectDir)\docs\THIRD-PARTY-NOTICES.txt" />
        <File Id="ProjectLicense" Source="$(var.ProjectDir)\LICENSE" />
        <File Id="OptionExtSource" Source="$(var.ProjectDir)\docs\third-party\option-ext-0.2.0.crate" />

        <RegistryKey Root="HKCR" Key=".obj\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{A9FFD4C4-3FA9-4EB7-8B47-B89A7F09D059}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".fbx\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{4E5FD91F-C018-4850-9636-3069629C6D3D}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".glb\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{E859325C-5506-4419-8AC5-6A4B03F3A138}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".gltf\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{B7265976-0DBA-44B5-9303-0B0DAFD034E0}" />
        </RegistryKey>

        <RegistryKey Root="HKCR" Key="CLSID\{A9FFD4C4-3FA9-4EB7-8B47-B89A7F09D059}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider OBJ" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{4E5FD91F-C018-4850-9636-3069629C6D3D}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider FBX" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{E859325C-5506-4419-8AC5-6A4B03F3A138}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider GLB" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{B7265976-0DBA-44B5-9303-0B0DAFD034E0}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider GLTF" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".stl\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{A3BAFD17-52CD-4CF6-869E-A4BB020591EF}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.stl\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{A3BAFD17-52CD-4CF6-869E-A4BB020591EF}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{A3BAFD17-52CD-4CF6-869E-A4BB020591EF}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider STL" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".dae\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{7BF654CD-6B62-4A1C-BE5F-53DF447C2BE6}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.dae\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{7BF654CD-6B62-4A1C-BE5F-53DF447C2BE6}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{7BF654CD-6B62-4A1C-BE5F-53DF447C2BE6}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider DAE" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".ply\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{AB2CDE52-5C15-4DAF-B43A-E4C9F1EAAEC0}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.ply\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{AB2CDE52-5C15-4DAF-B43A-E4C9F1EAAEC0}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{AB2CDE52-5C15-4DAF-B43A-E4C9F1EAAEC0}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider PLY" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".3ds\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{0AD51061-9A3C-4EC3-9757-874ECB89457C}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.3ds\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{0AD51061-9A3C-4EC3-9757-874ECB89457C}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{0AD51061-9A3C-4EC3-9757-874ECB89457C}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider 3DS" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".3mf\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{35A24A7A-CC90-48B3-9849-548DDAA06B01}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.3mf\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{35A24A7A-CC90-48B3-9849-548DDAA06B01}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{35A24A7A-CC90-48B3-9849-548DDAA06B01}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider 3MF" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".vrm\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{4C451BA6-CC4C-47FB-8F5F-3D32029E2F45}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.vrm\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{4C451BA6-CC4C-47FB-8F5F-3D32029E2F45}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{4C451BA6-CC4C-47FB-8F5F-3D32029E2F45}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider VRM" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".blend\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{AF3D3DCD-8C60-4E29-A483-46DB39C40FB9}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.blend\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{AF3D3DCD-8C60-4E29-A483-46DB39C40FB9}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{AF3D3DCD-8C60-4E29-A483-46DB39C40FB9}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider BLEND" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".x3d\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{098B9E30-DA6D-43B8-9C2D-F82D32B4B070}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.x3d\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{098B9E30-DA6D-43B8-9C2D-F82D32B4B070}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{098B9E30-DA6D-43B8-9C2D-F82D32B4B070}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider X3D" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".off\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{F0C794C3-D2B3-42D4-A861-966CED3C966B}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.off\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{F0C794C3-D2B3-42D4-A861-966CED3C966B}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{F0C794C3-D2B3-42D4-A861-966CED3C966B}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider OFF" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".usd\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{61B9231B-1E4B-4A1B-ADFB-812E3AE8A6BB}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.usd\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{61B9231B-1E4B-4A1B-ADFB-812E3AE8A6BB}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{61B9231B-1E4B-4A1B-ADFB-812E3AE8A6BB}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider USD" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".usda\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{3EC714F0-B74B-477C-B682-8B74AEE7C61A}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.usda\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{3EC714F0-B74B-477C-B682-8B74AEE7C61A}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{3EC714F0-B74B-477C-B682-8B74AEE7C61A}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider USDA" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".usdc\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{125A17BA-7451-4726-BD0B-738E93ADD02F}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.usdc\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{125A17BA-7451-4726-BD0B-738E93ADD02F}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{125A17BA-7451-4726-BD0B-738E93ADD02F}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider USDC" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".usdz\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{EEBDC2F2-E564-476C-AD42-C8F35F8997F4}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.usdz\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{EEBDC2F2-E564-476C-AD42-C8F35F8997F4}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{EEBDC2F2-E564-476C-AD42-C8F35F8997F4}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider USDZ" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".vrml\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{D84B7C81-992B-480A-9108-17321DCF1410}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.vrml\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{D84B7C81-992B-480A-9108-17321DCF1410}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{D84B7C81-992B-480A-9108-17321DCF1410}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider VRML" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR" Key=".wrl\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{991F57D3-64BA-42C9-A65C-19530FF5C176}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SystemFileAssociations\.wrl\shellex\{e357fccd-a995-4576-b01f-234630154e96}">
          <RegistryValue Type="string" Value="{991F57D3-64BA-42C9-A65C-19530FF5C176}" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="CLSID\{991F57D3-64BA-42C9-A65C-19530FF5C176}">
          <RegistryValue Type="string" Value="MeshThumbs Thumbnail Provider WRL" />
          <RegistryValue Name="DisableProcessIsolation" Type="integer" Value="1" />
          <RegistryKey Key="InprocServer32"><RegistryValue Type="string" Value="[#ThumbDll]" /><RegistryValue Name="ThreadingModel" Type="string" Value="Both" /></RegistryKey>
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <DirectoryRef Id="ProgramDataVendor">
      <Component Id="ProgramDataLogDir" Guid="36edadc7-b126-4180-9b1d-5a2287fabea1" Win64="yes">
        <CreateFolder />
        <RemoveFile Id="RemoveProgramDataLogs" Name="*" On="uninstall" />
        <RemoveFolder Id="RemoveProgramDataVendor" On="uninstall" />
        <RegistryValue Root="HKLM" Key="Software\MeshThumbs" Name="LogDir" Type="string" Value="[ProgramDataVendor]" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Product>
</Wix>

